.bi-bag-fill{
    color: #F29F05;
}
.bi-facebook,.bi-instagram,.bi-twitter{
    height: 40px;
    width: 30px;
    font-size: 20px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 100%;
    color: #F29F05;
    background-color: white;
}
#footerbg{
    background-color:  #363636;
    color: #787878;
}

/* .bi-facebook,.bi-instagram,.bi-twitter, :hover{
    background-color: #F29F05;
} */
#forfootertextcolor{
    color: #F29F05;
}
.Forpyara3{
    font-size: 18px;
    color: gray;
    line-height: 1.7;
}
/* start of about page */
#abautusbgimg{
    background-image: url(Images/bg-image.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.bi-arrow-right-short{color: #F29F05; }
.about-img img {
    border: 5px solid white;
}


.about-img img {
    border-radius: 50px;
    transform: rotate(13deg);
    width: 220px;
    height: 220px;
   
    margin-left: 44px;
    outline: 5px solid white;
}

@media only screen   and (min-width:576px) {
    .about-img img {
        
       
        width: 400px;
        height: 400px;
    }
    
    
}
.Foraboutuspyara3{
    font-size: 20px;
    color: gray;
    line-height: 1.7;

}

.aboutuscardimg img{
    width: 100px;
}
.aboutuscardimg:hover{
    background-color: #F29F05;
    color: white;

}
.Foraboutuspyara3:hover{
    color: white;
}
.aboutuscardimg .card-img-top:hover{
    background-color: white;
}
.bi-play-circle-fill{
    font-size: 50px;
    color: #F29F05;
    left: 40%;
    top: 30%;
}
.video-section-img:before {
    content: "";
    position: absolute;
    border: 7px #F29F05 solid;
    width: 200px;
    height: 200px;
    /* height: 567px;
    width: 579px; */
    border-radius: 50px;
    z-index: -1;
    left: 15%;
    transform: rotate(13deg);
}

@media only screen and (min-width: 576px){
    .video-section-img:before{
        width: 400px;
        height: 400px;
    }
    .bi-play-circle-fill{
      
        top: 40%;
    }

}
@media only screen and (min-width: 768px){
    .video-section-img:before{
        width: 300px;
        height: 300px;
    }
    .bi-play-circle-fill{
      
        top: 20%;
    }

}
@media only screen and (min-width: 992px){
    .video-section-img:before{
        width: 350px;
        height: 350px;
    }
    .bi-play-circle-fill{
      
        top: 25%;
    }

}
@media only screen and (min-width: 1200px){
    .video-section-img:before{
        width: 400px;
        height: 400px;
    }
    .bi-play-circle-fill{
      
        top: 40%;
    }

}
@media only screen and (min-width: 1400px){
    .video-section-img:before{
      height: 567px;
    width: 579px;}
    .bi-play-circle-fill{
      
        top: 40%;
    }

}
.Foraboutuspyara4{
    color: gray;
    font-size: 20px;
    line-height: 1.7;
}
.bi-check-circle-fill{
    color: #F29F05;
}
#goodtaste{
    background-image: url(Images/aboutus-after\ vedio\ bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.forabouth2color{
    color: #F29F05;
}

/* startofrestaurant */

.forrestaurantheroposition{
    position: relative;

}
.forrestaurantheroposition2{
    position: absolute;
    
}
.forrestaurantherodecor{
    background-color: white;
    color: #F29F05;
    box-shadow: 5px 5px gray;
}
@media only screen and (min-width:576px){
    .forrestaurantheroposition2{
        top: 30%;

    }
}
@media only screen and (min-width:768px){
    .forrestaurantheroposition2{
        top: 35%;
        left: 10%;

    }
}
@media only screen and (min-width:992px){
    .forrestaurantheroposition2{
        top: 25%;
        left: 10%;

    }
}


/* start of pay for one section */
#payforonesectionbg{
    background-image: url(Images/restaurantbgimg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 50vh;

}
.forrestaturantspancolor{
    color: #F29F05;
}

/* startofrestaurantcard */

.Restaurantcardheroimg img{
    border-radius: 50px;
    transform: rotate(13deg);
    /* width: 500px; */
    /* height: 500px; */
    margin-left: 44px;
}
#restaurantcardbg{
    background-image: url(Images/aboutus-after\ vedio\ bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.bi-heart-fill{
    color:#F29F05 ;
}
.fordishshadow {
    box-shadow: 1px 1px gray;
}
.restacardbtn a{
    background-color: #F29F05;
    color: white;
}
.restacardbtn a:hover{
    background-color: white;
    color: #F29F05;
}
#blogherobg{
    background-image: url(Images/aboutus-after\ vedio\ bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;

}
.bi-arrow-right{
    color: #F29F05;
}
.hero-section-img-service img {
    z-index: 999;
}
.hero-section-img-service{
    position: relative;
    z-index: 0;
}
.hero-section-img-service:before {
    position: absolute;
    border: #f29f05 7px solid;
    /* height: 616px;
    width: 500px; */
    width: 290px;
    height: 150px;
    content: "";
    border-radius: 70px;
    /* transform: rotate(24deg); */
    transform: rotate(30deg);
    margin-top: 12%;
    z-index: 0;
    /* left: 12%; */
    left: 5%;
}
    #servicebg{
        background-image: url(Images/aboutus-after\ vedio\ bg.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }


    @media only screen and (min-width:576px){
       .hero-section-img-service:before{
        width: 450px;
        height: 350px;

       }
    }
    @media only screen and (min-width:768px){
        .hero-section-img-service:before{
            width: 650px;
            height: 400px;
            margin-top: 15%;
    
           }
        
    }
    @media only screen and (min-width:992px){
        .hero-section-img-service:before{
            width: 450px;
            height: 250px;
    
           }
       
    }
    @media only screen and (min-width:1200px){
        .hero-section-img-service:before{
            width: 550px;
            height: 310px;
    
           }
    }
    @media only screen and (min-width:1400px){
        .hero-section-img-service:before{
            height: 620px;
            width: 500px;
            left: 17%;
            margin-top: 1%;
                transform: rotate(24deg);
           }
    }
    .aboutserviceimg img{
        width: 100px;
    }
    
    .aboutserviceimg:hover{
        border: 2px solid #f29f05 !important;
        box-shadow: 2px 2px #F29F05;
    }
    #cheakoutbg{
        background-image: url(Images/bg-image.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100% 100%;

    }
    #pricingtablebg{
        background-image: url(Images/bg-image.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100% 100%;

    }
    .bi-telephone-fill,.bi-chat-right-dots-fill,.bi-geo-alt-fill{
        font-size: 40px;
        color: #F29F05;
    }
    .Forcontacthero:hover{
        color: white;
        background-color: #363636;

    }
    .forspancolor{
        color: #F29F05;
    }